<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomcat.status.dao.logMapper">
  <resultMap id="BaseResultMap" type="com.tomcat.status.model.log">
    <id column="ipAddress" jdbcType="VARCHAR" property="ipaddress" />
    <id column="port" jdbcType="INTEGER" property="port" />
    <id column="time" jdbcType="TIMESTAMP" property="time" />
    <id column="error_type" jdbcType="VARCHAR" property="errorType" />
    <id column="describe_message" jdbcType="VARCHAR" property="describeMessage" />
    <result column="read_status" jdbcType="VARCHAR" property="readStatus" />
    <result column="send_status" jdbcType="VARCHAR" property="sendStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    ipAddress, port, time, error_type, describe_message, read_status, send_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.tomcat.status.model.logKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log
    where ipAddress = #{ipaddress,jdbcType=VARCHAR}
      and port = #{port,jdbcType=INTEGER}
      and time = #{time,jdbcType=TIMESTAMP}
      and error_type = #{errorType,jdbcType=VARCHAR}
      and describe_message = #{describeMessage,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tomcat.status.model.logKey">
    delete from log
    where ipAddress = #{ipaddress,jdbcType=VARCHAR}
      and port = #{port,jdbcType=INTEGER}
      and time = #{time,jdbcType=TIMESTAMP}
      and error_type = #{errorType,jdbcType=VARCHAR}
      and describe_message = #{describeMessage,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tomcat.status.model.log">
    insert into log (ipAddress, port, time, 
      error_type, describe_message, read_status, 
      send_status)
    values (#{ipaddress,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{errorType,jdbcType=VARCHAR}, #{describeMessage,jdbcType=VARCHAR}, #{readStatus,jdbcType=VARCHAR}, 
      #{sendStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tomcat.status.model.log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ipaddress != null">
        ipAddress,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="errorType != null">
        error_type,
      </if>
      <if test="describeMessage != null">
        describe_message,
      </if>
      <if test="readStatus != null">
        read_status,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ipaddress != null">
        #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="errorType != null">
        #{errorType,jdbcType=VARCHAR},
      </if>
      <if test="describeMessage != null">
        #{describeMessage,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null">
        #{readStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tomcat.status.model.log">
    update log
    <set>
      <if test="readStatus != null">
        read_status = #{readStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ipAddress = #{ipaddress,jdbcType=VARCHAR}
      and port = #{port,jdbcType=INTEGER}
      and time = #{time,jdbcType=TIMESTAMP}
      and error_type = #{errorType,jdbcType=VARCHAR}
      and describe_message = #{describeMessage,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tomcat.status.model.log">
    update log
    set read_status = #{readStatus,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=VARCHAR}
    where ipAddress = #{ipaddress,jdbcType=VARCHAR}
      and port = #{port,jdbcType=INTEGER}
      and time = #{time,jdbcType=TIMESTAMP}
      and error_type = #{errorType,jdbcType=VARCHAR}
      and describe_message = #{describeMessage,jdbcType=VARCHAR}
  </update>
  <select id="selectUnreadLog" resultMap="BaseResultMap">
  	select * from log where ipAddress=#{ipaddress} and port = #{port} and read_status='not read'
  </select>
   <select id="selectUnSendLog" resultType="int">
  	select count(*) from log where send_status='not send'
  </select>
  <update id="updateSendLog">
  	update log set send_status='send' where send_status='not send'
  </update>
</mapper>